<!-- LAYOUT -->
<% layout("layouts/standard") %>
<!-- NAVBAR -->
<%- include("../partials/navbar") %>
<!-- prettier-ignore -->
<% locals.name != undefined ? block('title').append(`<title>${name}</title>`) : block('title').append("Not Found")%>
<main class="container mt-5">
  <h1>Yelp Camp</h1>
</main>
