<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <header><%- include("./partials/navbar") %></header>
    <main class="container mt-5">
      <h1>Yelp Camp</h1>
    </main>
  </body>
</html>
